[buildout]
extends = ../openerp_debonix.cfg
# Uncomment the following lines in the "trunk" configuration file to activate
# the development tools:
# extensions = gp.vcsdevelop

[erp_global]
instance = prod

[source_profile]
# trunk or stable : used for the path of sources branches
profile = trunk

[openerp]
options.db_host = 192.168.0.71

options.smtp_server = False
options.xmlrpc_port = 8101
options.db_password = iubiong4oireid2i
options.running_env = prod
options.workers = 4
options.db_maxconn = 18

options.without_demo = True

options.admin_login_password = sood1cu9ta5go5ee

[openerp_auto_run]
start_on_boot = yes

[supervisor]
; number of connector workers when launched from the supervisor
connector_workers = 2

# Uncomment the following lines in the "trunk" configuration file to activate
# the development tools:
# with_devtools = true
# test_script_name = runtests
# openerp_command_name = oe

[addons_version]
# Customer specific addons
# specific-addons=tag:1.0.3
# Official
server=revid:launchpad_translations_on_behalf_of_openerp-20140626070811-gak6h5h9ozmnemu7
addons=revid:guewen.baconnier@camptocamp.com-20140813100703-6v60r0hn8m6i0c23
webclient=revid:launchpad_translations_on_behalf_of_openerp-20140628060331-bc6928ffpbty12ui
# Connector
connector=tags/2.2.0
connector-ecommerce=tags/2.2.0
connector-magento=ab6873bf67fdc0bdb46fecadc358049e7b5c47ef
e-commerce-addons=revid:guewen.baconnier@camptocamp.com-20140526123136-dd66rw8a7dzavh8x
# Community branches
account-financial-report=revid:guewen.baconnier@camptocamp.com-20140711120954-7q6fpnl2ki190bfm
account-financial-tools=932e47b0f3165de027bffc5cc49c621b5a0c942d
account-invoice-reporting=27be3dc4e8b1c704cffd5b799b1c5355f38b045b
bank-statement-reconcile=fd36f7d28674a4a7cf3c07f05625841211e84d56
carrier-delivery=8e05a9a617dc8b2b962dbec630235f7471797a2b
margin-analysis=revid:guewen.baconnier@camptocamp.com-20140416144708-dit8ulhzmaa53bmq
multi-company=last:1
new-report-intrastat=revid:guewen.baconnier@camptocamp.com-20140708113326-9pwbv2vfgr7nfasz
openerp-product-attributes=revid:launchpad_translations_on_behalf_of_product-core-editors-20140621062421-3ahiedd40fzl42d2
reporting-engine=d1249c1e9dbbc61aa058986096278f9c7a225498
partner-contact-management=revid:yannick.vaucher@camptocamp.com-20140402134634-huz0rm4ityrzv1k4
purchase-wkfl=revid:launchpad_translations_on_behalf_of_purchase-core-editors-20140622055731-ovgpcbymm29jwsqv
product-kitting=revid:yannick.vaucher@camptocamp.com-20140408114653-s173xeveun8jqus1
sale-financial=revid:yannick.vaucher@camptocamp.com-20140710110426-sm5phtdb3jqp1l9x
sale-workflow=e1b630bd368c7c8434d7fbf6269f25d0897b768d
server-env-tools=revid:yannick.vaucher@camptocamp.com-20140704155429-g460u772vuhzd72y
stock-logistics-barcode=3e698e13746756212abd8af07799d130fd630ea7
stock-logistics-reporting=745f0b46382714bf5e671a16d867840977b046ed
stock-logistics-warehouse=c030b5c88876e01461edd2ea214792d6a4bb0b63
stock-logistics-workflow=db5fa741b01ce89bdd6594173c8c7ad5404d5d5f
webkit-tools=a4cc45695767cb38dded56bb50f0c7a474e8ed90
# Customer specific addons
specific-addons=revid:guewen.baconnier@camptocamp.com-20140819102036-3myi7hqc3hq4wk9v
# l10n_fr related
openerp-french-localization=revid:alexis@via.ecp.fr-20140703081329-q9ncdiywvcdqp0ob
# RMA
openerp-rma=revid:launchpad_translations_on_behalf_of_openerprma-20140524065050-nqzzjb0mnutp3pqb
# C2C branches
c2c-ecom-addons=revid:yannick.vaucher@camptocamp.com-20140407150135-evms41ushovvlau2
c2c-addons=revid:yannick.vaucher@camptocamp.com-20140617155847-xv9fblm8l0lzskcy
