DEBR{{lj codefiliale 3}}S{{rj siretFiliale 14 '0'}}RCDECL1.1{{rj dateCmd 8 '0'}}{{rj heureCmd 6 '0'}}
DMS{{rj codeAgence 3 '0'}}S{{rj siretAgence 14 '0'}}S{{rj siretDebonix 14 '0'}}                 0000000000000000000000000
100{{lj noCmd 35}}{{rj dateCmd 8 '0'}} {{rj heureCmd 6 '0'}}{{lj '' 35}}{{lj refCmd 35}}{{lj '' 35}}{{lj '' 35}}{{lj '' 35}}{{lj '' 35}}  00000000{{rj dateLiv 8 '0'}}0000000000000000000000000000 L {{lj compteDebonix 35}} ORFEUREUR{{rj '' 12 '0'}}{{lj '' 35}}{{lj '' 35}} 00000000{{lj '' 30}}{{rj '' 15 '0'}}{{lj '' 64}}DB
110S{{rj siretAgence 14 '0'}}
120S{{rj siretDebonix 14 '0'}}
130S{{rj siretDebonix 14 '0'}}               {{lj adr1 35}}{{lj adr2 35}}{{lj adr3 35}}{{lj adr4 35}}{{lj adr5 35}}{{lj cp 9}}{{lj ville 35}}{{lj '' 35}}FR{{lj '' 17}}{{lj '' 35}}{{lj '' 17}}{{lj '' 35}}{{lj tel 25}}{{lj fax 25}}{{lj '' 25}}{{lj '' 25}}{{lj '' 3}}
140S{{rj siretDebonix 14 '0'}}               {{lj adr1 35}}{{lj adr2 35}}{{lj adr3 35}}{{lj adr4 35}}{{lj adr5 35}}{{lj cp 9}}{{lj ville 35}}{{lj '' 35}}FR{{lj '' 17}}{{lj '' 35}}{{lj '' 17}}{{lj '' 35}}{{lj tel 25}}{{lj fax 25}}{{lj '' 25}}{{lj '001' 25}}{{lj '' 3}}
{{#commentaire}}160    A{{lj . 350}}
{{/commentaire}}{{#__lines__}}200{{lj refarticleFournisseur 35}}{{rj '' 13 '0'}}{{lj '' 35}}{{lj '' 17}}{{lj '' 35}}{{lj ligne 5}}{{lj libelle 70}}{{rj qte 15 '0'}}{{rj '' 15 '0'}} {{rj '' 15 '0'}}{{rj prixUnitaireNet 15 '0'}}{{rj montantLigne 15 '0'}}   {{lj uq 1}}  {{rj dateLiv 8 '0'}}0000000000000000   {{rj '' 15 '0'}}{{lj '' 35}}  00000000{{rj '' 15 '0'}}{{rj '' 18 '0'}}{{lj '' 17}} {{lj '' 35}}{{lj '' 35}}{{lj '' 35}}{{rj uep 5 '0'}}   {{rj codag 9 '0'}}O000000000000   {{rj '' 15 '0'}}
{{/__lines__}}300{{rj totalQte 15 '0'}}{{rj totalLigne 15 '0'}}{{rj totalHT 15 '0'}}{{rj totalTVA 15 '0'}}{{rj totalTTC 15 '0'}}{{rj '' 15 '0'}}
FMS
FIN
